<div>
  <div>
    <%= render 'shared/user', user: @user %>
  </div>

  <div>
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>

  <ul class='user_post'>
    <% @user.posts.first(3).each do |post| %>
        <li>
          <h4><%= link_to post.title, user_posts_path(@user) %></h4>
          <%= render 'shared/post', post: post %>
        </li>
    <% end %>
  <ul>
   
   <div>
    <%= link_to 'See all posts', user_posts_path(@user) %>
   </div>
</div>